/* GENERAL STYLING */
* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Arial", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
    font-size: 20px;
  }
  
  body {
    margin: 0px;
    background-color: rgb(217 190 132);
  }
  
  nav {
    text-align: center;
    word-spacing: 1rem;
    margin: 0.5rem auto;
    background-color: rgb(197, 157, 69);
    border-width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 136, 24);
  }
  
  article {
    font-size: 0.8rem;
  }
  
  article + article {
    border-top: 0.2rem dotted rgb(255, 136, 24);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Verdena", sans-serif;
    /*display: inline;*/
  }
  
  .header {
    text-align: center;
    background-color: moccasin;
    padding-top: 2.5rem;
    position: relative;
  }
  
  .main {
    padding: 0.8rem;
    max-width: 40rem;
    margin: 0 auto;
    max-width: 70ch;
  }
  
  .title {
    font-size: 3em;
  }
  
  .profession {
    font-size: 0.9em;
  }
  
  .profession::after {
    content: " 👔";
  }
  
  .to-top {
    font-size: 75%;
    color: rgb(255, 255, 255);
  }
  
  .hire-me {
    background-color: rgb(255, 136, 24);
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
  }
  
  a:link {
    color: rgb(255, 56, 165);
  }
  
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  a:hover {
    color: rgb(228, 173, 102);
  }
  
  a:active {
    color: rgb(233, 44, 10);
  }
  
  ::selection {
    background-color: white;
    color: grey;
  }
  
  /* SMALL DEVICES */
  @media screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  
  /* MEDIUM DEVICES */
  @media screen and (min-width: 992px) {
    html {
      font-size: 20px;
    }
    .main > * + * {
      margin-top: 4rem;
    }
    .hire-me {
      position: fixed;
    }
  }
  
  /* PRINTER OUTPUT */
  @media print {
    .hire-me {
      display: none;
    }
  
    #navigation {
      display: none;
    }
  }
  